######################################################################
## toml
######################################################################
# toml syntax
[[plugins]] 
repo = 'cespare/vim-toml'
on_ft = 'toml'
######################################################################
## git
######################################################################
[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
    nnoremap <leader>gd :GitGutterDisable<CR>
    nnoremap <leader>ge :GitGutterEnable<CR>
    nnoremap <leader>gp :GitGutterPrevHunk<CR>
    nnoremap <leader>gn :GitGutterNextHunk<CR>
    let g:gitgutter_highlight_lines = 0
    let g:gitgutter_enabled = 1 
    let g:gitgutter_async = 1
'''
######################################################################
## typescript
######################################################################
# [[plugins]]
# repo = 'Quramy/tsuquyomi'
# hook_add = '''
# let g:tsuquyomi_disable_quickfix = 1
# '''
# [[plugins]]
repo = 'leafgarland/typescript-vim'
on_ft = ['typescript', 'typescriptreact']
hook_add = '''
    autocmd BufNewFile,BufRead *.tsx :setfiletype typescript
    let g:typescript_indent_disable = 1
    let g:typescript_compiler_binary = ''
    let g:typescript_compiler_options = ''
'''

[[plugins]]
repo = 'idbrii/vim-tagimposter'
hook_add = '''
'''
######################################################################
## Go
######################################################################
[[plugins]]
repo = 'fatih/vim-go'
hook_add = '''
    autocmd FileType go nmap <leader>gb  <Plug>(go-build)
    autocmd FileType go nmap <leader>gt  <Plug>(go-test)
    autocmd FileType go nmap <leader>tf  <esc>:GoTestFunc<CR>
    autocmd FileType go nmap <leader>fs  <esc>:GoFillStruct<CR>
    autocmd FileType go imap <leader>fs <esc>:GoFillStruct<CR>
    autocmd FileType go nmap <leader>k  <esc>:GoKeyify<CR>
    autocmd FileType go imap <leader>k  <esc>:GoKeyify<CR>
    autocmd FileType go nmap <leader>at  <esc>:GoAddTags<CR>
    autocmd FileType go nmap <leader>rt  <esc>:GoRemoveTags<CR>
    autocmd FileType go nmap <leader>t  <esc>:GoAlternate<CR>
    autocmd FileType go nmap <leader>rn  <esc>:GoRename<CR>
    autocmd FileType go nmap <leader>i  <esc> :GoImports<CR>
    let g:go_def_mode='gopls'
    let g:go_gocode_propose_source = 0
'''
on_ft = 'go'
[[plugins]]
repo = 'vim-jp/vim-go-extra'
on_ft = 'go'
# [[plugins]]
# repo = 'zchee/deoplete-go'
# on_ft = 'go'
######################################################################
## js
######################################################################
#[[plugins]]
#repo = 'jelera/vim-javascript-syntax'
[[plugins]]
repo = 'mattn/jscomplete-vim'
hook_add = '''
    let g:jscomplete_use = ['dom', 'moz', 'es6th']
'''
[[plugins]]
repo = 'ternjs/tern_for_vim'
######################################################################
## python
######################################################################
[[plugins]]
repo =  'python-mode/python-mode'
on_ft = 'python'
