[include]
	path = ~/.config/git/config.main

[include]
	path = ~/.config/git/config.identity

[include]
	path = ~/.config/git/config.delta

[include]
	path = ~/.config/git/config.alias

[include]
	path = ~/.config/git/config.pr

[include]
	path = ~/.config/git/config.local
